body
{
    padding:0;
    margin:0 0; 
    background: url(../image/imageedit_3_8896726638.png) no-repeat center center fixed;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-size: cover;
}


.mainDiv
{
    top: 0;
    width: 60%;
    min-width: 150px;
    
    height: 40%;
    background-color: #5BBC8E;
    opacity: 0.7;
    text-align: center;
    border: 3px;
    padding: 25px;
    
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 16% auto;
}

button
{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: darkgoldenrod;    
    opacity: 0.9;
}
i
{
     color:black;
     opacity:0.8;
     font-size:4em; 
}



/*CSS for navigtion bar*/
ul
{
    list-style-type: none; /*bullets gone*/
    width: 100%;
    margin: 0px;
    top: 0;
    overflow: hidden;  
    padding: 0px;
    background-color: #333;
    opacity: 0.7;
     position: fixed;   
}

.left
{
    float: left;
}

li
{
    float: left;
}

.colorOfIcon
{
    color: white;
}


li a
{
    display: block;
    color: white;
    text-align:center;
    padding: 15px 25px;
    text-decoration: none;
}

/*
.left
{
    float: left;
}
*/
li
{
    float: inherit;
}

li a:hover
{
    background-color: darkgray;
}
.righty
{
    float: right;
}
















